{
    "REFERRAL_TABLE_NAME":"referral.teaming_graph_providers_2012_2013",
    "NPI_DETAIL_TABLE_NAME": "nppes.npi_summary_abridged_primary_taxonomy",
    "FIELD_NAME_FROM_RELATIONSHIP": "npi_from",
    "FIELD_NAME_TO_RELATIONSHIP": "npi_to",
    "FIELD_NAME_WEIGHT": "patient_total"
}